.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  /* max-width:; */
}
header {
  /* border: 1px solid black; */
  border: 0 120px 0 120px;
}
header .nav-header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
}
header nav div .logo-navbar {
  display: flex;
}
header .nav-header ul {
  display: flex;
  text-align: center;
  list-style-type: none;
  margin-top: 34px;
  gap: 32px;
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
}
.logo-navbar {
  margin: 16px 0 16px 120px;
}
.btn {
  margin: 24px 120px 24px 0;
  color: rgba(255, 255, 255, 1);
  padding: 12.5px 16px;
  border-radius: 4px;
  background-color: #30b868;
  font-size: 16px;
  border-width: 0;
  cursor: pointer;
}
.hero-section {
  /* display: flex; */
  text-align: center;
}
body section .hero-section {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 147px 120px;
  /* background-attachment: fixed; */
  outline: none;
}
nav .hero-container {
  padding: 155px 341px;
}
.btn2 {
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  color: #30b868;
  border-radius: 1000px;
  cursor: pointer;
  /* border-width: 0; */
}
body section .hero-section .section-contain {
  font-size: 72px;
  font-weight: 700;
}
body section .hero-section .section-contain2 {
  color: white;
}
.btn3 {
  margin: 24px 8px 24px 0;
  color: rgba(255, 255, 255, 1);
  padding: 12.5px 16px;
  border-radius: 4px;
  background-color: #30b868;
  font-size: 16px;
  border-width: 0;
  cursor: pointer;
}
.btn4 {
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  border-width: 0;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 1);
}
.section-heading {
  /* border: 1px solid red; */
  height: 152px;
  border: 0 120px;
  text-align: center;
  justify-content: center;
  padding-top: 36px;
  /* font-size: 48px; */
}
.section-heading h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
}
.section-heading p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}
.section-card {
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
}
.section-card-box {
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}
.section-card-box img {
  background-color: #f95555;
  border-radius: 60px;
  padding: 14px;
}
.section-card-box h3 {
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  border: 2px;
}
.section-card-box p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
#banner {
  margin: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
#banner .banner-content h6 {
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 16px 0;
  text-align: left;
}
#banner .banner-content h1 {
  color: #001931;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  width: 700px;
  height: 116px;
}
#banner .banner-content .p-1 {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 700px;
  height: 60px;
  margin: 16px 0 40px 0;
}
#banner .banner-content .p-2 {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  gap: 16px;
  text-align: left;
}
#about-container {
  border: 160px 160px 160px 160px;
  background-color: white;
}
#about-container .about-content {
  background-color: #f7f6f2;
  padding: 80px 40px 80px 40px;
  text-align-last: center;
}
.btn5 {
  /* margin: 24px 120px; */
  margin: 24px auto 16px auto;
  color: rgba(255, 255, 255, 1);
  padding: 12.5px 16px;
  border-radius: 4px;
  background-color: #30b868;
  font-size: 16px;
  border-width: 0;
  cursor: pointer;
}

#about-container .about-content p h1 {
  color: rgba(0, 25, 49, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  width: 1280px;
  height: 48px;
  padding: 12.5px 16px;
}
#about-container .about-content .p-3 {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  height: 48px;
  padding: 12.5px 16px;
}
#about-container .about-content .p-4 {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

#footer-back {
  background-color: #001931;
  padding: 120px 120px 30px 120px;
}
#footer-back hr {
  border: 1px solid 1px Middle rgba(255, 255, 255, 1);
  opacity: 0.2;
}
#footer-back .footer-first {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
  text-align: end;
}
#footer-back .footer-fav {
  color: white;
  border-radius: 100%;
}
#footer-back p {
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
